@model WebApplication2.Models.Department

@{
    var instructorNames = ViewBag.InstructorNames as Dictionary<int, string>;
}

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">id: @Model.DepartmentId <br/>Manager: @(instructorNames?.GetValueOrDefault(Model.Manager) ?? "Unknown")</p>
    </div>
</div>
<br/>
<a asp-action="GetAll" asp-controller="Department" class="btn btn-primary">Back</a>