@model WebApplication2.Models.Department
<!DOCTYPE html>

@{
    SelectList inst = new SelectList(ViewBag.Inst, "InstructorId", "Name");
}

<html>
<head>
    <title>title</title>
</head>
<body>
<form action="/Department/Save" method="post">
    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" class="form-control"/>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Manager">Manager</label>
        <select class="form-control" asp-for="Manager" asp-items="inst"></select>
    </div>
    <br/>
    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-action="GetAll" asp-controller="Department" class="btn btn-outline-secondary">Cancel</a>
</form>
</body>
</html>
@section Scripts 
{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script> 
}