@model ICollection<WebApplication2.Models.Instructor>

@{
var departmentNames = ViewBag.DepartmentNames as Dictionary<int, string>;
}

<table class="table">
    <thead>
    <tr>
        <th scope="col">Instructor Id</th>
        <th scope="col">Name</th>
        <th scope="col">Salary</th>
        <th scope="col">Department</th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var i in Model)
    {
        <tr>
            <td>@i.InstructorId</td>
            <td>@i.Name</td>
            <td>@i.Salary</td>
            <td>@(departmentNames?.GetValueOrDefault(i.DepartmentId ?? 0) ?? "Unknown")</td>
            <td><a class="btn btn-outline-info" href="/Instructor/Edit/@i.InstructorId">Edit</a></td>
            <td><a class="btn btn-outline-secondary" href="/Instructor/Details/@i.InstructorId">Details</a></td>
            <td><a class="btn btn-outline-danger" href="/Instructor/Delete/@i.InstructorId">Delete</a></td>
        </tr>
    }
    </tbody>
</table>
<a class="btn btn-primary" href="/Instructor/New">New</a>