@model WebApplication2.Models.Course
<!DOCTYPE html>

@{
    SelectList depts = new SelectList(ViewBag.depts, "DepartmentId", "Name");
}

<html>
<head>
    <title>title</title>
</head>
<body>
<form action="/Course/Save" method="post">
    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" class="form-control"/>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="minDegree">Min Degree</label>
        <input asp-for="minDegree" class="form-control"/>
        <span asp-validation-for="minDegree" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DepartmentId">Department</label>
        <select class="form-control" asp-for="DepartmentId" asp-items="depts"></select>
    </div>
    <br/>
    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-action="GetAll" asp-controller="Course" class="btn btn-outline-secondary">Cancel</a>
</form>
</body>
</html>

@section Scripts 
{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script> 
}