@model WebApplication2.Models.Student

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="~/img.png" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">id: @Model.StudentId <br/>Grade: @Model.Grade <br/> Address: @Model.Address</p>
    </div>
</div>
<br/>
<a asp-action="GetAll" asp-controller="Student" class="btn btn-primary">Back</a>